apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: esdetect
  namespace: default
  labels:
    app: esdetect
spec:
  selector:
    matchLabels:
      app: esdetect
  template:
    metadata:
      labels:
        app: esdetect
    spec:
      hostPID: true  # Required to see host processes
      containers:
      - name: esdetect
        image: michalz256/esdetect:1.0 # Ensure this image is available in your cluster registry
        imagePullPolicy: IfNotPresent
        command: ["./bpf-detect"]
        args:
          - "-output-dir=/app/logs"
          - "-debug=false"
          - "-print-host-events=false"
        securityContext:
          privileged: true # Required for eBPF
        volumeMounts:
        - name: sys-kernel-debug
          mountPath: /sys/kernel/debug
        - name: sys-fs-cgroup
          mountPath: /sys/fs/cgroup
          readOnly: true
        - name: run-containerd
          mountPath: /run/containerd
          readOnly: true
        - name: run-docker
          mountPath: /run/docker
          readOnly: true
        - name: run-runc
          mountPath: /run/runc
          readOnly: true
        - name: microk8s-containerd
          mountPath: /var/snap/microk8s/common/run/containerd
          readOnly: true
        - name: var-lib-docker
          mountPath: /var/lib/docker
          readOnly: true
        - name: var-lib-containerd
          mountPath: /var/lib/containerd
          readOnly: true
        # Optional: If you want to persist logs to the host
        - name: logs
          mountPath: /app/logs
      volumes:
      - name: sys-kernel-debug
        hostPath:
          path: /sys/kernel/debug
      - name: sys-fs-cgroup
        hostPath:
          path: /sys/fs/cgroup
      - name: run-containerd
        hostPath:
          path: /run/containerd
          type: DirectoryOrCreate
      - name: run-docker
        hostPath:
          path: /run/docker
          type: DirectoryOrCreate
      - name: run-runc
        hostPath:
          path: /run/runc
          type: DirectoryOrCreate
      - name: microk8s-containerd
        hostPath:
          path: /var/snap/microk8s/common/run/containerd
          type: DirectoryOrCreate
      - name: var-lib-docker
        hostPath:
          path: /var/lib/docker
          type: DirectoryOrCreate
      - name: var-lib-containerd
        hostPath:
          path: /var/lib/containerd
          type: DirectoryOrCreate
      - name: logs
        hostPath:
          path: /tmp/esdetect-logs
          type: DirectoryOrCreate
